<template [ngIf]="vm">

  <md-card>
    <md-card-title>
      <span>Virtual Machine '{{vm.name}}'</span>
    </md-card-title>
    
    <md-divider></md-divider>
    <md-list>State: {{vm.state | state}}</md-list>
    <md-list>Virtual processor count: {{vm.virtualProcessorCount}}</md-list>
    <md-list>Virtual memory: {{vm.virtualMemory | memory}}</md-list>
    <md-divider></md-divider>
  </md-card>
  <md-card>
    <md-card-title>
      <span>Usage Reports</span>
    </md-card-title>
    <usage-report-chart [vmId]="vm.virtualMachineId"></usage-report-chart>
  </md-card>
</template>
